/*Common styles*/
body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

/*Header styles*/
.cointainer{
    padding: 0 15px;
}

header img{
    padding-left: 15px;
    height: 45px
}

header {
    background-color: rgba(156,214,244,255);
    padding-top: 40px;
    padding-bottom: 40px;
}

/*Main styles*/
.title-cointainer{
    margin-bottom: 25px;
    padding-left: 15px;
}

h1 {
    margin-bottom: 0;
}

.author{
    color: gray;
}

.author-name {
    color: rgba(161,181,255,255);
}

.author-date{
    font-size: smaller;
}

.image-cointainer {
    padding-left: 15px;
}

.image-text {
    font-size: smaller;
    margin-bottom: 30px;
    padding-left: 15px;
}

.text {
    padding-left: 15px;
    margin-bottom: 30px;
}

.text span {
    background-color: yellow;
}
.list-text {
    margin-bottom: 30px;
}

ul {
    padding: 15px;
    list-style-position: inside;
}

table {
    text-align: left;
    margin-bottom: 30px;
}

table thead {
    background-color: rgba(127,166,251,255);
    color: white;
}

.line-table {
    background-color: rgba(223,229,242,255);
}

.column-table {
    width: 50%;
}